---
- name: Ansible check file gitlab-ctl
  stat:
    path: /usr/bin/gitlab-ctl
  register: file_gitlab

- name: Update all packages list to the latest version
  shell: apt-get update

- name: Install Pre-requirements
  shell: apt-get install -y ca-certificates curl openssh-server postfix wget

- name: repositories
  shell: wget -O /tmp/script.deb.sh https://packages.gitlab.com/install/repositories/gitlab/gitlab-ce/script.deb.sh --no-check-certificate

- name: Run script.deb.sh
  shell: bash /tmp/script.deb.sh

- name: Create gitlab directory
  shell: |
    mkdir -p /var/vcap/store/gitlab/var/log/gitlab
    mkdir -p /var/vcap/store/gitlab/opt/gitlab
    mkdir -p /var/vcap/store/gitlab/var/opt/gitlab
    mkdir -p <%= p('gitlab.backup_path') %>
  ignore_errors: True

- name: Link gitlab directory
  shell: |
    ln -s /var/vcap/store/gitlab/var/log/gitlab /var/log/gitlab
    ln -s /var/vcap/store/gitlab/opt/gitlab /opt/gitlab
    ln -s /var/vcap/store/gitlab/var/opt/gitlab /var/opt/gitlab
  when: not file_gitlab.stat.exists

- name: Install gitlab-ce
  shell: apt-get install -y gitlab-ce=<%= p('gitlab.version') %>
  ignore_errors: True

- name: Link gitlab.rb
  shell: |
    mv /etc/gitlab/gitlab.rb /etc/gitlab/gitlab.rb.org
    ln -s /var/vcap/jobs/ansible-gitlab/ansible/gitlab.rb /etc/gitlab/gitlab.rb
  ignore_errors: True
   
- name: permission gitlab directory
  shell: |
    chmod o+rx /var/log
    chown -R git:git /var/opt/gitlab/.ssh

- name: gitlab reconfigure
  shell: |
    gitlab-ctl reconfigure
