---
- name: Update all packages list to the latest version
  shell: apt-get update

- name: Install Pre-requirements
  shell: apt-get install -y ca-certificates curl openssh-server postfix wget

- name: repositories
  shell: wget -O /tmp/script.deb.sh https://packages.gitlab.com/install/repositories/gitlab/gitlab-ce/script.deb.sh --no-check-certificate

- name: Run script.deb.sh
  shell: bash /tmp/script.deb.sh

- name: Create gitlab directory
  shell: |
    mkdir -p /var/vcap/store/opt/gitlab
    mkdir -p /var/vcap/store/var/opt/gitlab
    mkdir -p <%= p('gitlab.backup_path') %>

- name: Link gitlab directory
  shell: |
    ln -s /var/vcap/store/opt/gitlab /opt/gitlab
    ln -s /var/vcap/store/var/opt/gitlab /var/opt/gitlab

- name: Install gitlab-ce
  shell: apt-get install -y gitlab-ce=<%= p('gitlab.version') %>

- name: Link gitlab.rb
  shell: |
    rm -f /etc/gitlab/gitlab.rb
    ln -s /var/vcap/jobs/ansible-gitlab/ansible/gitlab.rb /etc/gitlab/gitlab.rb
   
- name: gitlab reconfigure
  shell: |
    gitlab-ctl reconfigure
